<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/OverlayPiP" version="0.2.1" viewmodes="maximized">
    <tizen:application id="LeTNtRnF11.OverlayPiP" package="LeTNtRnF11" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <name>OverlayPiP</name>
    <tizen:privilege name="http://tizen.org/privilege/tv.channel"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.window"/>
    <tizen:profile name="tv-samsung-public"/>
</widget>
